.reviews {
    margin-bottom: 8px;
}

.review {
    border: 1px solid var(--grey);
    padding: 16px;
    margin-bottom: 16px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}