.header {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    padding: 40px;
    position: relative;
}

.title {
    margin: 0;
    color: var(--white);
    text-transform: uppercase;
}

.titleLine {
    text-decoration: line-through;
}

.titleYellow {
    color: var(--yellow-light);
    text-decoration: line-through;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}